
mixin addTicketsScroll(countTicket)
	- countTicket = countTicket || 100
	div(class=`${lotteryName}-wrapperTickets ${lotteryName}-scroll`)
		- for (var i = 0; i < countTicket; i++)
			div(class=`${lotteryName}-ticket`) 79542362


mixin addBreadcrumbs(nameLottery)
	- nameLottery = nameLottery || "New"
	ul.breadcrumbs
		li
			a(href="#") Home
		li
			a(href="#") Lottery
		li
			= nameLottery


mixin addImg(classImg, urlImg)
	if classImg
		- var noClass = `${lotteryName}-${classImg}`
	else
		- var noClass = ""

	div(class=`${lotteryName}-img ${noClass}`)
		img(src=urlImg)


mixin addTimer(classTimer)
	if classTimer
		- var noClass = `${lotteryName}-${classTimer}`
	else
		- var noClass = ""

	div(class=`${lotteryName}-timer ${noClass}`)
		ul(class=`${lotteryName}-timerList`)
			li
				b 11
				span Дней
			li
				b 22
				span Часов
			li
				b 33
				span Минут
			li
				b 44
				span Секунд