
mixin addBtn(classBtn)
	a(href="#!" class=`${lotteryName}-${classBtn} ${lotteryName}-${classBtn}--main`)
		span(class=`${lotteryName}-btnInner`)
			span Сделать Ставку


mixin addShadowTitle(titleText, titleClass)
	div(class=`${lotteryName}-title ${lotteryName}-title${titleClass}`)
		span(data-shadow=titleText)
			= titleText


mixin addBtnModal(nameModalOpen, nameBtn)
	button(data-modal=`.${lotteryName}-modal__${nameModalOpen}` class=`${lotteryName}-addition__btn ${lotteryName}-modalShow` type='button')
		span= nameBtn