extends ../layouts/__main

block vars
	-lotteryName = 'testTest'
	-jsReveal = 'js-animate'
	-lotteryPage = 'index'

block content

	section(class=`${lotteryName}-sectionMain`)

		div(class=`${lotteryName}-container`)
			+addTicketsBtn("", "secondary")
			div(class=`${lotteryName}-titleWrapper ${jsReveal}`)
				h1(class=`${lotteryName}-title`)= lotteryPage
			div(class=`${lotteryName}-actions`)
				+addMainBtn("", "main")

	section(class=`${lotteryName}-sectionMain`)
		div(class=`${lotteryName}-container`)
			+addTimer()

	section(class=`${lotteryName}-sectionMain`)
		div(class=`${lotteryName}-container`)
			+addImg("test", "assets/img/first.jpg")


	//- Addition Btn start
	div(class=`${lotteryName}-addition`)
		+addBtnModal("E", "enter")
		+addBtnModal("R", "rules")
		+addBtnModal("T", "tickets")
		+addBtnModal("W1", "win1")
		+addBtnModal("W2", "win2")
	//- Addition Btn end

	//- Modal start
	div(style="display: none")
		+addModalEnter()
		+addModalRules()
			div(class=`${lotteryName}-modal__title`) ПРАВИЛА
			div(class=`${lotteryName}-modal__text`)
				p(class=`${lotteryName}-modal__text--big`) Как принять участие?
				ol(class=`${lotteryName}-modal__list ${lotteryName}-list--none`)
					li
						span(class=`${lotteryName}-modal__text--color`) 1)
						| Зарегистрируйся или авторизируйся на сайте MELBET.
					li
						span(class=`${lotteryName}-modal__text--color`) 2)
						| Делай ставки типа экспресс. Чем выше коэффициент, больше событий в экспрессе и крупнее сумма ставки — тем выше шансы на победу!
					li
						span(class=`${lotteryName}-modal__text--color`) 3)
						| Набирай наибольшее количество очков за месяц среди всех участников.
					li
						span(class=`${lotteryName}-modal__text--color`) 4)
						| Занимай призовые места в турнирной таблице и выигрывай крутые призы!


				p(class=`${lotteryName}-modal__text--big`) Ежемесячный призовой фонд:
				ul(class=`${lotteryName}-modal__list ${lotteryName}-list--none`)
					li
						span(class=`${lotteryName}-modal__text--color`) 1-е место - суперприз на выбор:
						| Приставка Sony PlayStation 4 Pro (PS4 Pro) 1TB или Приставка Xbox ONE X 1TB (1 победитель)
					li
						span(class=`${lotteryName}-modal__text--color`) 2-е место:
						| Наушники Beats Solo 3 Wireless (3 победителя)
					li
						span(class=`${lotteryName}-modal__text--color`) 3-е место:
						| JBL Charge 4 (5 победителей)


				p(class=`${lotteryName}-modal__text--big`) Фрибеты:
				ul(class=`${lotteryName}-modal__list ${lotteryName}-list--none`)
					li
						span(class=`${lotteryName}-modal__text--color`) 4 место:
						| 10 000 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 6 место:
						| 5 000 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 6 место:
						| 2 000 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 7 место:
						| 1 000 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 8 место:
						| 500 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 9 место:
						| 200 рублей
					li
						span(class=`${lotteryName}-modal__text--color`) 10 место:
						| 100 рублей

				p(class=`${lotteryName}-modal__text--big`) Правила и условия:
				ol(class=`${lotteryName}-modal__list ${lotteryName}-list--decimal`)
					li Принимая участие в акции, вы подтверждаете, что ознакомились с правилами ее проведения и принимаете их.
					li Акция проводится с _____ декабря (00:00 +3 UTC) по ___ 2020 года  (23:59 +3 UTC) включительно.
					li Только зарегистрированные участники могут принимать участие в акции. Обязательны для заполнения поля: Фамилия Имя Отчество, номер мобильного телефона (активация обязательна), электронный адрес (email), страна и город проживания.
					li В акции участвуют только ставки типа экспресс из 3-х и более событий до начала матча по Линии на любые спортивные события с минимальной суммой ставки 100 RUB.
					li Каждая выигравшая ставка приносит участнику очки, которые рассчитываются по формуле: (число событий в экспрессе * итоговый коэффициент) + сумма ставки /100.
					li Каждому участнику засчитывается только один выигрышный экспресс, который набрал наибольшее количество очков.
					li Лидеры с наибольшим количеством очков отображаются в таблице, по которой подводятся итоги акции. Чем больше очков — тем выше место в таблице.
					li Количество ставок не ограничено.
					li Участник, выигравший главный приз, выбирает один подарок из двух предложенных.
					li Каждый месяц производится замена одного подарка (который выбрал победитель ) на новый.
					li В акции учитываются исключительно ставки на реальные денежные средства участника пари. Ставки за авансовые и бонусные средства (в том числе промокоды) не учитываются. Также не учитываются ставки, рассчитанные возвратом.
					li Акция действует только для одного IP-адреса, одного ПК, одной семьи и одного аккаунта.
					li Компания MELBET имеет право отменить или отозвать настоящее предложение либо изменить любое из его положений в любое время без предварительного уведомления или указания причин.
					li При необходимости пользователь обязан предоставить идентификационные документы для верификации (KYC). Если он не предоставит документы по запросу MELBET, то бонусное предложение и выигрыш аннулируются.
					li Компания имеет право в любое время потребовать фото пользователя со своим документом (чтобы видно было лицо) или идентификацию по телефону.
					li Если MELBET обнаружит, что он стал жертвой мошенничества или отмывания денег, то он имеет право закрыть аккаунт пользователя и заморозить остаток на счету.
					li Любые решения компании относительно данной акции являются окончательными и обязательными для исполнения.

		+addModalTickets(100)
		+addModalWin("win1", "https://picsum.photos/150")
			span Lorem ipsum dolor
			b lorem
		+addModalWin("win2", "https://picsum.photos/150")
			span Lorem ipsum dolor sit
			b Lorem ipsum.


	//- Modal end