extends ../layouts/__main

block vars
	-lotteryName = 'testTest'
	-jsReveal = 'js-animate'
	-lotteryPage = 'raffle'

block content

	section(class=`${lotteryName}-sectionMain`)
		div(class=`${lotteryName}-container`)
			div(class=`${lotteryName}-titleWrapper`)
				h1(class=`${lotteryName}-title`)= lotteryPage






	// -------------------------------------------------------------------------------------------------------------------
	// -------------------------------------------------------------------------------------------------------------------

	//- Addition Btn start
	div(class=`${lotteryName}-addition`)
		+addBtnModal("E", "enter")
	//- Addition Btn end

	//- Modal start
	div(style="display: none")
		+addModalEnter()
	//- Modal end