//- Mixin modal custom
//- ====================================================================================================================

mixin addModalCustom(modalName)
	- modalName = modalName || "custom"

	div(class=`${lotteryName}-modal ${lotteryName}-modal${modalName}`)
		div(class=`${lotteryName}-modal__overlay`)

		div(class=`${lotteryName}-modal__block ${lotteryName}-modal__block--${modalName}`)
			div(class=`${lotteryName}-modal__close`)
				div(class=`${lotteryName}-modal__closeImg`, style="background-image: url(assets/img/modal/close.png)")

			div(class=`${lotteryName}-modal__bg`)
			div(class=`${lotteryName}-modal__body`)
				block

