//- Mixin modal rules
//- ====================================================================================================================

mixin addModalRules()
	div(class=`${lotteryName}-modal ${lotteryName}-modalRules`)
		div(class=`${lotteryName}-modal__overlay`)

		div(class=`${lotteryName}-modal__block ${lotteryName}-modal__block--rules`)
			div(class=`${lotteryName}-modal__close`)
				div(class=`${lotteryName}-modal__closeImg`, style="background-image: url(assets/img/modal/close.png)")

			div(class=`${lotteryName}-modal__bg`)
			div(class=`${lotteryName}-modal__body`)
				div(class=`${lotteryName}-modal__scrollBlock ${lotteryName}-scroll`)
					block
