//- Mixin element ticketsBtn
//- ====================================================================================================================


mixin addBtnModal(nameOpenModal, nameBtn)
	- nameBtn = nameBtn || "M"

	if nameOpenModal
		button(data-modal=`.${lotteryName}-modal${nameOpenModal}` class=`${lotteryName}-addition__btn ${lotteryName}-modalShow` type='button')&attributes(attributes)
			span= nameBtn

