//- Mixin element ticketsBtn
//- ====================================================================================================================

mixin addBtnModal(nameBtn, nameModalOpen)
	- nameBtn = nameBtn || "P"

	if nameModalOpen
		button(data-modal=`.${lotteryName}-modal__${nameModalOpen}` class=`${lotteryName}-addition__btn ${lotteryName}-modalShow` type='button')
			span= nameBtn

