//- Mixin element mainBtn
//- ====================================================================================================================

mixin addMainBtn(btnText, btnClassMod)
	- btnText = btnText || "Сделать Ставку"
	- btnClassMod = btnClassMod || "custom"

	a(href="#!" class=`${lotteryName}-btn ${lotteryName}-btn--${btnClassMod}`)
		span(class=`${lotteryName}-btnInner`)
			span= btnText