//- Mixin element ticketsBtn
//- ====================================================================================================================

mixin addTicketsBtn(btnText, btnClassMod)
	- btnText = btnText || "Мои Билеты"
	- btnClassMod = btnClassMod || "custom"

	div(class=`${lotteryName}-wrapperBtn`)
		a(href="#!" data-modal=`.${lotteryName}-modal__tickets` class=`${lotteryName}-btn ${lotteryName}-btn--${btnClassMod} ${lotteryName}-modalShow`)
			span= btnText
