//- Mixin block img
//- ====================================================================================================================


mixin addImg(classImg, urlImg)
	if classImg
		- var newClass = `${lotteryName}-${classImg}`
	else
		- var newClass = ""

	div(class=`${lotteryName}-img ${newClass}`)&attributes(attributes)
		img(src=urlImg)